@model ShopItemsViewModel

@{
    Layout = "_Master";
}

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="ShopItem.Name"></label>
    <input type="text" asp-for="ShopItem.Name" />
    <span asp-validation-for="ShopItem.Name" class="text-danger"></span>
    <br />

    <label asp-for="ShopItem.Quantity"></label>
    <select asp-for="ShopItem.Quantity" asp-items="@Model.ShopItem.QuantityList">
        <option value="0">-- Choose quantity --</option>
    </select>
    <span asp-validation-for="ShopItem.Quantity" class="text-danger"></span>
    <br />

    <label asp-for="ShopItem.UnitPrice"></label>
    <input type="text" asp-for="ShopItem.UnitPrice" />
    <span asp-validation-for="ShopItem.UnitPrice" class="text-danger"></span>
    <br />

    <label asp-for="ShopItem.SelectedCategoryId"></label>
    <select asp-for="ShopItem.SelectedCategoryId" asp-items="@Model.ShopItem.CategoryList">
        <option value="0">-- Choose category --</option>
    </select>
    <span asp-validation-for="ShopItem.SelectedCategoryId" class="text-danger"></span>

    <br />
    <input type="submit" value="Add to list" />
</form>
<hr />

<partial name="ShopItemsListPartial" model="Model.ShopItems" />