@model ShopItemsViewModel

@{
    Layout = "_Master";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="ShopItem.Name"></label>
    <input type="text" asp-for="ShopItem.Name" />
    <span asp-validation-for="ShopItem.Name" class="text-danger"></span>
    <br />

    <label asp-for="ShopItem.Quantity"></label>
    <select asp-for="ShopItem.Quantity" asp-items="@Model.ShopItem.QuantityList">
        <option value="0">-- Choose quantity --</option>
    </select>
    <span asp-validation-for="ShopItem.Quantity" class="text-danger"></span>

    <br />
    <input type="submit" value="Update item" />
</form>
<partial name="ShopItemsListPartial" model="Model.ShopItems" />