@model IEnumerable<ShopItemViewModel>

<ul>
    @foreach (ShopItemViewModel item in Model)
    {
        <li>@item.Name (@(item.Quantity)x) <a asp-action="Edit" asp-route-Id="@item.Id" class="material-icons">edit</a> <a asp-action="Delete" asp-route-Id="@item.Id" class="material-icons">delete</a></li>
    }
</ul>