@{
    Layout = "_Master";
}

@model CartItemsViewModel

@if (Model.CartItems.Any())
{
    decimal totalPrice = 0;

    <ul>
        @foreach (CartItemViewModel item in Model.CartItems)
        {
            <li>
                @item.Name (@(item.Quantity)x)
                <a asp-controller="Cart" asp-action="DeleteItem" asp-route-Id="@item.Id" class="material-icons">delete</a>
            </li>
            totalPrice += item.UnitPrice * item.Quantity;
        }
    </ul>

    <p class="Total">Total: @totalPrice</p>
}
else
{
    <span>No cart items available</span>
}

